In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
city_df=pd.read_csv(city_data_to_load)
ride_df=pd.read_csv(ride_data_to_load)
# Combine the data into a single dataset
combine_df=pd.merge(ride_df,city_df, on='city')
# Display the data table for preview
combine_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,Lake Jonathanshire,2018-04-07 20:51:11,31.25,4441251834598,5,Urban
2,Lake Jonathanshire,2018-03-09 23:45:55,19.89,2389495660448,5,Urban
3,Lake Jonathanshire,2018-04-07 18:09:21,24.28,7796805191168,5,Urban
4,Lake Jonathanshire,2018-01-02 14:14:50,13.89,424254840012,5,Urban

In [19]:
combine_df.groupby(['city','type'])

In [7]:
num_urban_rides

                               date  fare  ride_id  driver_count
city                 type
Amandaburgh          Urban       18    18       18            18
Barajasview          Urban       22    22       22            22
Barronchester        Suburban    16    16       16            16
Bethanyland          Suburban    18    18       18            18
Bradshawfurt         Rural       10    10       10            10
Brandonfort          Suburban    19    19       19            19
Carriemouth          Urban       27    27       27            27
Christopherfurt      Urban       27    27       27            27
Colemanland          Suburban    22    22       22            22
Davidfurt            Suburban    17    17       17            17
Deanville            Urban       19    19       19            19
East Aaronbury       Suburban     9     9        9             9
East Danielview      Suburban    17    17       17            17
East Kaylahaven      Urban       29    29       29            29
East Kentstad        Suburban    13    13       13            13
East Marymouth       Suburban    27    27       27            27
Erikaland            Urban       12    12       12            12
Garzaport            Rural        3     3        3             3
Grahamburgh          Urban       25    25       25            25
Grayville            Suburban    15    15       15            15
Harringtonfort       Rural        6     6        6             6
Huntermouth          Urban       24    24       24            24
Hurleymouth          Urban       28    28       28            28
Jerryton             Urban       25    25       25            25
Jessicaport          Rural        6     6        6             6
Johnton              Urban       21    21       21            21
Joneschester         Urban       25    25       25            25
Josephside           Suburban    27    27       27            27
Justinberg           Urban       30    30       30            30
Karenberg            Urban       17    17       17            17
...                             ...   ...      ...           ...
South Evanton        Urban       31    31       31            31
South Jack           Urban       19    19       19            19
South Jennifer       Rural        7     7        7             7
South Karenland      Urban       38    38       38            38
South Latoya         Urban       19    19       19            19
South Marychester    Rural        8     8        8             8
South Michelleport   Urban       31    31       31            31
South Phillip        Urban       31    31       31            31
South Saramouth      Rural        4     4        4             4
South Teresa         Suburban    22    22       22            22
Taylorhaven          Rural        6     6        6             6
Valentineton         Urban       22    22       22            22
Veronicaberg         Suburban    17    17       17            17
Victoriaport         Suburban    14    14       14            14
West Angela          Urban       39    39       39            39
West Anthony         Urban       30    30       30            30
West Christopherberg Urban       26    26       26            26
West Ericstad        Urban       18    18       18            18
West Gabriel         Urban       23    23       23            23
West Hannah          Suburban    21    21       21            21
West Heather         Rural        9     9        9             9
West Heidi           Urban       28    28       28            28
West Josephberg      Urban       26    26       26            26
West Kimmouth        Suburban    20    20       20            20
West Patrickchester  Urban       16    16       16            16
West Robert          Urban       31    31       31            31
West Samuelburgh     Urban       25    25       25            25
Williamsonville      Suburban    14    14       14            14
Williamsstad         Urban       23    23       23            23
Williamsview         Urban       20    20       20            20

[120 rows x 4 columns]